#title 
{
display: block;
position: absolute;
left: 0;
right: 0;
bottom: 0;
height: 1.4em;
opacity: 0.4;
background: black;
color: white;
text-align: left;
vertical-align: middle;
font-size: 2em;
font-style: bold;
padding: 0.2em;
}
#viewport
{
    /*border: 1px solid red;*/
    height: 60ex;
}

#epub-reader-frame{
    display: inline-block;
    height: 100%;
    position: relative;

    width: 100%;
    overflow: auto;

    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

#epubContentIframe {
position: relative;
overflow: hidden;
opacity: 1;
width: 868px;
height: 500px;

}