<div id="readerCSS">
    <div class="btn-group btn-group-sm btn-group-custom" role="group">
        <button id="btnRead" class="btn btn-custom" type="button" aria-label="Artikel vorlesen">
            <span title="read" class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Vorlesen
            <span class="glyphicon glyphicon-refresh glyphicon-spin glyphicon-spin-hide" aria-hidden="true"></span>
        </button>
        <div class="btn-group btn-group-sm mnuPlayer">
            <button id="btnPlay" class="btn btn-custom" aria-label="Wiedergabe Starten oder Pausieren">
                <span title="Play" id="play" class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button id="btnStop" class="btn btn-custom" aria-label="Wiedergabe stoppen">
                <span title="Stop" id="stop" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
            </button>
            <!--<button onclick="Restart('music.mp3','audio');" class="btn btn-custom">-->
            <!--<span title="Restart" id="restart" class="glyphicon glyphicon-step-backward aligned"></span>-->
            <!--</button>-->
            <!--<button onclick="Backward5('music.mp3','audio');" class="btn btn-custom">-->
            <!--<span title="-5 seconds" id="play" class="glyphicon glyphicon-fast-backward aligned"></span>-->
            <!--</button>-->
            <!--<button onclick="Forward5('music.mp3','audio');" class="btn btn-custom">-->
            <!--<span title="+5 seconds" id="play" class="glyphicon glyphicon-fast-forward aligned"></span>-->
            <!--</button>-->
            <!--<button onclick="Backward1('music.mp3','audio');" class="btn btn-custom">-->
            <!--<span title="-1 second" id="play" class="glyphicon glyphicon-chevron-left aligned"></span>-->
            <!--</button>-->
            <!--<button onclick="Forward1('music.mp3','audio');" class="btn btn-custom">-->
            <!--<span title="+1 second" id="play" class="glyphicon glyphicon-chevron-right aligned"></span>-->
            <!--</button>-->
            <!--<button onclick="VolumeUp('music.mp3','audio');" class="btn btn-custom">-->
            <!--<span title="Volume Up" id="volumeup" class="glyphicon glyphicon-plus aligned"></span>-->
            <!--</button>-->
            <button id="btnSettings" class="btn btn-custom" aria-label="Einstellungen">
                <span title="Settings" class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>


