/* Load CSS files from your node_modules folder */
/*@import "../../../node_modules/spinkit/css/spinners/1-rotating-plane.css";*/
#readerCSS {
@import (less) url("./bootstrap-custom/css/bootstrap.css");
}

span.dachzeile {
    padding-right: 220px; 
}

#readerCSS {
    position: absolute;
    right: 32px; 
}


#readerCSS .mnuPlayer {
    display: none;
}

#readerCSS * {
    background: #2568b4;
    color: white;
}

.btnRead {
    line-height: 16px;
    font-size: 11pt;
    top: 0;
    right: 0;
    /*/!*letter-spacing: 2px;*!/*/
    /*/!*padding: 1px 1px;*!/*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-width: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    float: left;
}

.btn-custom {
    transition-property: background, opacity;
    transition-duration: 0.5s;
}

.btn-custom:hover, .btn-custom:active {
    cursor: pointer;
    opacity: 0.5;
    color: white;
}

.highlight {
    background-color: #ffcb59;
}
