/* Load CSS files from your node_modules folder */
/*@import "../../../node_modules/spinkit/css/spinners/1-rotating-plane.css";*/
#readerCSS * {
@import (less) url("./bootstrap-custom/css/bootstrap.css");
}

#btnGroup * {
    background: #2568b4;
    color: white;
}

.btnRead {
    /*line-height: 16px;*/
    /*width: 200px;*/
    /*font-size: 11pt;*/
    /*position: absolute;*/
    top: 0;
    right: 0;
    /*display: block;*/
    /*/!*letter-spacing: 2px;*!/*/
    /*/!*padding: 1px 1px;*!/*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-width: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    float: left;
}

.btn-custom {
    transition-property: background, opacity;
    transition-duration: 0.5s;
}

.btn-custom:hover, .btn-custom:active {
    cursor: pointer;
    opacity: 0.5;
    color: white;
}

/*.btn-custom:hover {*/
/*background: #5c90d4;*/
/*border-color: rgba(0, 0, 0, 0.5);*/
/*}*/

.mnuPlayer {
    display: none;
}

.highlight {
    background-color: #ffcb59;
}

.sk-rotating-plane {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 40px auto;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* credits

Text to speech Icon made by http://www.flaticon.com/authors/katarina-stefanikova from www.flaticon.com

*/